:root {
  /* Color */
  --color-primary: #00072b;
  --color-secondary: #475467;
  --color-info: #c9cfda;
  --color-tertiary: #6941c6;
  --color-quaternary: #0c0033;
  --color-light: #dfe2e9;
  --color-muted: #d0d5dd;
  --color-warning: #db303f;
  --color-success: #7fc008;
  --color-hover: #f3f1f1;
  --color-white: #fff;

  /* Background color */
  --background-primary: #eeeae9;
  --background-opacity: rgba(14, 14, 15, 0.4);

  /* Font-size */
  --font-huge: 60px;
  --font-large: 50px;
  --font-medium: 18px;
  --font-small: 14px;
  --font-normal: 12px;

  /* Font-family */
  --font-regular: 'OpenSans-regular';
  --font-semiBold: 'OpenSans-semiBold';
  --font-bold: 'OpenSans-bold';
  --font-default: 'Tahoma, sans-serif';
}
