.typography {
  font-family: var(--font-default);
}

.typography.typography-color-primary {
  color: var(--color-primary);
}

.typography.typography-color-quaternary {
  color: var(--color-quaternary);
}

.typography.typography-size-xl {
  font-size: var(--font-huge);
}

.typography.typography-size-lg {
  font-size: var(--font-large);
}

.typography.typography-size-md {
  font-size: var(--font-medium);
}

.typography.typography-size-s {
  font-size: var(--font-small);
}
.typography.typography-size-xs {
  font-size: var(--font-normal);
}

.typography.typography-weight-regular {
  font-family: var(--font-regular);
}

.typography.typography-weight-bold {
  font-family: var(--font-bold);
}

.typography.typography-weight-semiBold {
  font-family: var(--font-semiBold);
}
