.notification-modal-text {
  width: 350px;
  color: var(--color-primary);
  font-size: var(--font-normal);
}

.notification-modal-text .title {
  font-family: var(--font-bold), var(--font-default);
  font-size: var(--font-medium);
}

.notification-modal-text .description {
  color: var(--color-secondary);
  font-family: var(--font-regular), var(--font-default);
  font-size: var(--font-small);
  line-height: 20px;
  padding: 10px 0 32px 0;
}

.notification-modal .notification-modal-cta {
  display: flex;
  gap: 12px;
}

.notification-modal .notification-modal-cta button {
  width: 100%;
}
