.action-menu-wrapper {
  width: 98px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
}

.action-menu-wrapper button {
  width: 100%;
}
